@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: 400;
  src: url(Syne-Mono-Regular.eot);
  src: local('Syne Mono Regular'), local('SyneMono-Regular'), local('Syne Mono'),
    url(Syne-Mono-Regular.woff) format('woff'), url(Syne-Mono-Regular.ttf) format('truetype'),
    url(Syne-Mono-Regular.eot?#iefix) format('embedded-opentype'),
    url(Syne-Mono-Regular.svg#SyneMono) format('svg'), url(Syne-Mono-Regular.woff2) format('woff2');
}
