<header>
  <div class="jumbotron text-center">
    <h1 class="display-4">Cats!</h1>
    <p class="lead">Wanna see some cats? Hit next and have fun!</p>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer py-3 mt-auto">
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <a routerLink="/imprint" class="nav-link">Imprint</a>
          </div>
      </div>
  </div>
</footer>
