<div class="container text-center">
    <div class="imprint">
        <div class="back">
        <a routerLink="/cats">Home</a>
    </div>

        <h1>Impressum</h1>
        <p>
            Angaben gemäß § 5 TMG
        </p>
        <p>
            Marcus Szymanski<br>
            Werner-Seelenbinder-Straße 34<br>
            18069 Rostock <br>
        </p>
        <p>
            <strong>Vertreten durch: </strong><br>
            Marcus Szymanski<br>
        </p>
        <p>
            <strong>Kontakt:</strong> <br>
            E-Mail: <a href='mailto:marcus.szymanski@mail.de'>marcus.szymanski@mail.de</a><br></p>
        <p>
            <strong>API Credits:</strong><br>
            <a href="https://aws.random.cat/meow">https://aws.random.cat/meow</a><br><br>
            <strong>Haftungsausschluss:</strong><br><br>
            <strong>Haftung für Links</strong><br><br>
            Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.
        </p><br>
        <p>
            Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>
        </p>
        <br>
        <br>
        <div class="icon-credit">
            Icons made by
        </div>
    </div>
</div>
