<div class="container">
    <div class="row mb-4">
        <div class="col text-center">
            <ng-container *ngIf="loading; else nextButton">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>
            </ng-container>
            <ng-template #nextButton>
                <button class="btn btn-primary" (click)="nextCat()">Next</button>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-lg text-center">
            <img [src]="(catImage$ | async)?.file" alt="" class="img-fluid rounded w-50">
        </div>
    </div>
</div>